




/* /// Ссылки  */
a{
    color: #837dfb;
    transition: color 0.3s;
}

a:hover{ color: #6d94ff; }
/* Добавляем реакцию на наводку на элемент */

/* Сбор ссылок */
nav{ a{ margin-left: 1rem; } }

/* Для работы с ссылками альтернатива (оборачивать в div или p)*/
.alt_link {
    text-align: center;
    color: #aaa;

    a{ text-decoration: none;  }
    
    a:hover { text-decoration: underline; }
}


/* /// Заголовки, особый текст */
h1, h2, h3, h4, h5, h6{
    color: #837dfb;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
h1{font-size: 1.5rem;}
h2{font-size: 1.40rem;}
h3{font-size: 1.30rem;}
h4{font-size: 1.20rem;}
h5{font-size: 1.10rem;}
h6{font-size: 1.05rem;}
/* Надписи для виджетов/элементов страницы */
label { font-weight: bold; }


/* /// Поле ввода */
input {
    padding: 0.70rem;
    border-radius: 10px;
    outline: none;
    background: #2b2b4d;
    color: #fff;
    font-size: 1rem;

    border: 2px solid #bababa00;
}
/* Цвет, когда поле пустое или неверно заполнено */
input:invalid {
    border: 2px solid #ff4d4d; 
}
input:focus {
    border: 2px solid #6d94ff;
}
/* Автозаполнение */
input:-webkit-autofill {
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
}


/* /// Кнопка */
button{
    padding: 0.70rem;
    border-radius: 10px;
    background-color:  #837dfb;
    border: none;

    color: white;
    font-size: 1rem;

    cursor: pointer;
    transition: background 0.3s ease;
}
button:hover{
   background-color: #6d94ff; 
}
